$color-white: #ffffff;
$color-gray: #eeeeee;
$color-black: #000000;
$color-yellow: #efc84a;
$color-red-darker: #d7373b;
$color-gray-dark: #dfdfdf;
$color-yellow-darker: #e5a722;
$text-color-primary: #283136;
$color-red: #fb565a;
$color-green-dark: #00bc6c;
$color-yellow-dark: #eab534;
$color-red-dark: #e74246;
$color-gray-darker: #d5d5d5;
$color-green: #00ca74;
$color-green-darker: #00aa62;
