.catalog {
  width: 760px;
}

.catalog__list {
  display: flex;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  list-style: none;

  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__sort {
  margin-bottom: 55px;
  padding-top: 5px;
}
