.filters {
  width: 260px;
}

.filters__form {
  margin: 0;
  padding: 0;
}

.filters__group {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  border: none;
}

.filters__title {
  margin-bottom: 15px;

  text-transform: uppercase;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.filters__btn {
  display: block;

  width: 100%;
  margin-top: 4px;
}

.filters__list {
  margin: 0;
  padding: 0;

  list-style: none;

  color: $text-color-primary;

  font-size: 16px;
  line-height: 20px;
}

.filters__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
