.modal-write-us {
  width: 960px;
  padding-top: 64px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 100px;

  background-color: $color-white;
}


.modal-write-us__wrapper {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-write-us__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.modal-write-us__form {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
}

.modal-write-us__text-field {
  margin: 0;
  margin-bottom: 30px;
  width: 360px;
}

.modal-write-us__textmessage {
  margin: 0;
  margin-bottom: 46px;
}

.modal-write-us__label {
  display: block;

  margin-bottom: 12px;

  font-weight: 700;
}

.modal-write-us__input {
  &--textmessage {
    height: 118px;
  }
}

.modal-write-us__btn {
  width: 260px;
}
