.products__item {
  position: relative;

  width: 360px;
  margin-bottom: 33px;
  padding-top: 40px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(77, 77, 77, 0.12);

  &::before {
    position: absolute;
    top: 13px;
    left: 16px;

    display: block;

    width: 14px;
    height: 14px;

    content: "";

    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 23px 0 0 0 #ffffff,
      46px 0 0 0 #ffffff;
  }

  &:hover {
    background-color: #4d4d4d;
    box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);

    .products__info {
      opacity: 1;
    }
  }
}

.products__picture {
  width: 360px;
  height: 576px;
  margin: 0;
}

.products__image {
  display: block;
}

.products__info {
  position: absolute;
  bottom: 0;

  padding-top: 25px;
  padding-right: 80px;
  padding-bottom: 43px;
  padding-left: 80px;

  text-align: center;

  opacity: 0;
  background-color: #eeeeee;
}

.products__title {
  display: block;

  margin: 0;
  margin-bottom: 15px;

  text-decoration: none;
  text-transform: uppercase;

  color: #000000;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  &:hover {
    color: #fb565a;
  }

  &:active {
    opacity: 0.3;
    color: #000000;
  }
}

.products__desc {
  margin: 0;
  margin-bottom: 30px;

  color: #666666;

  font-size: 16px;
  line-height: 18px;
}

.products__buy {
  display: block;
}
