.promo {
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.promo__slider {
  position: relative;
}

.promo__toggles {
  position: absolute;
  bottom: 96px;
  left: 50%;

  transform: translateX(-50%);
}
