.site-nav {
  display: flex;

  margin-right: 45px;
}

.site-nav__link {
  margin-right: 45px;
  margin-bottom: 4px;
  padding-bottom: 3px;

  text-decoration: none;

  color: $color-black;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $color-red;
  }

  &:active {
    opacity: 0.3;
    color: $color-black;
  }

  &:last-child {
    margin-right: 0;
  }

  &--current {
    border-bottom-color: $color-red;
  }
}
